---
# Add a fast check to speed reconfiguration
- stat: path=/opt/hadoop
  register: hadoop_installed

- include: install.yml
  when: not hadoop_installed.stat.exists

- include: configure.yml

- include: configure_users.yml
  when: users_dict.values()
